<h1>Square Root Results</h1>

<dt>
  Number
</dt>
<dd>
  <%=@number%>
</dd>

<dt>
  Square
</dt>
<dd>
  <%=@result%>
</dd>

<p>
  <a href="/square_root/new">
    Calculate another square root
  </a>
</p>
